[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
scrapy-redis = "*"
scrapy-splash = "*"
environs = "*"
supervisor = "*"
pymongo = "*"
redis = "*"
requests = "*"
Scrapy = "*"
Scrapy-Redis-BloomFilter = "*"
PyMySQL = "*"

[requires]
python_version = "3.8"
